.search-bar{
    margin: 20px;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}
.search-bar input{
    width: 75%;
    border: 1px solid #ddd;

    webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 5px 0 0 5px;
    padding: 1rem;
}
.search-bar button{
    width: 15%;
    border: 1px solid #ddd;

    border: 0;
    border-radius: 0 5px 5px 0;
    background: #13AFAf;
    color: #fff;
}
}
.video-item img{
    max-width: 64px;
}
.video-title{
    max-height: 4.8rem;
    overflow: hidden;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
    padding-top:20px;
    padding-bottom: 20px;
}
.video-item .details{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.list-group-item{
    cursor: pointer;
}
.list-group-item:hover{
    background-color: #eee;
}